body {
    font-family: roboto;
    background-color: #1F2937;
    display: flex;
    flex-direction: column; /* Reiht die Felder übereinander an  */

}

.upper,.under {
    display: flex;
    padding-top: 0px;
    padding-left: 100px;
    padding-right: 100px;
}
.upper{
    justify-content: space-between;
}

h2 {
    color: #F9FAF8;

}
p {
    font-size: 18px;
}
.headerright,.headerleft {
    color:#E5E7EB;
    display: flex;
    align-items:center;
    height:30px;
    gap: 16px;;
    margin-top: 0; /* Remove any default margin */
}

.image img{

    max-width: 100%; /* Set the maximum width to 100% of its container */
    max-height: 100%; /* Set the maximum height to 100% of its container */
    width: auto; /* Ensure the width adjusts proportionally */
    height: auto; /* Ensure the height adjusts proportionally */
}