/* first part */

body {
    margin: 0;
    font-family: roboto;
}
.first {
    background-color: #1F2937;
    display: flex;
    flex-direction: column; /* Reiht die Felder übereinander an  */
    gap:100px;

}

.upper,.under {
    display: flex;
    padding-top: 0px;
    padding-left: 200px;
    padding-right: 200px;
}
.upper{
    justify-content: space-between;

}
.under {
    gap: 90px;
    margin: 20px auto;
    margin-bottom: 100px;
    
}
.container {
    display: flex;
    flex-direction: column;

}
.button {
    width: 150px; /* Change the width to your desired value */
    background: #3882F6;
    color: white;
    font-family: roboto;
    max-width: 200px;
    font-size: 18px; /* Increase font size */
    padding: 10px; /* Adjust padding */
    border-radius: 15px;
    border: none; /* Remove the border */
    cursor: pointer;
}
.container h1{
    color: #F9FAF8;   
    font-size: 48px;
    margin-bottom: 5px;
}
.headerleft h2 {
    color: #F9FAF8;

}
.container p {
    font-size: 18px;
    color: #d2d5dc;
    margin-top: 5px;
}
.headerright,.headerleft {
    color:#d2d5dc;
    display: flex;
    align-items:center;
    height:30px;
    gap: 16px;;
    margin-top: 10px; /* Remove any default margin */
}

.image img{

    max-width: 100%; /* Set the maximum width to 100% of its container */
    max-height: 100%; /* Set the maximum height to 100% of its container */
    width: auto; /* Ensure the width adjusts proportionally */
    height: auto; /* Ensure the height adjusts proportionally */
    border-radius: 5px;
}
@media (max-width: 800px) {
    .image {
        display: none; /* Hide the image */
    }
}

/* second part */

.second {
    display: flex;
    padding: 0 200px; /* Adjust padding */
    flex-direction: column;
    margin-bottom: 100px;


}
.title {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 38px;
    font-weight: bold;
    
}
.second .image img{

    max-width: 100%; 
    max-height: 100%; 
    width: auto; 
    height: auto; 
    border: 2px solid #3882F6;
    border-radius: 10px;
}

.pic {
    display: flex;
    gap: 40px; /*Abstand zum anderen Items sind 20px */

}

.pictext {
    display: flex;
    justify-content: center;
    gap: 40px; /*Abstand zum anderen Items sind 20px */
}

.second p {
    text-align: center;

}

.third {
    background: #E5E7EB;
    display: flex;
    
}
.quote {
    margin: 200px;
    margin-top: 100px;
    text-align: center;
}
.quote p {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}
.quote h2 {
    text-align: end;
}
.fourth {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background: #3882F6;

}
.fourth button {
    border: 1px solid #E5E7EB;
}
.go {
    display: flex;
    margin: 100px;
    gap: 300px;
}
.button:hover {
    background-color: #2980b9; /* Change this to the desired button color on hover */
    border-color: #3498db; /* Change this to the desired border color on hover */
}